<% layout('layouts/boilerplate') %>
    <div class="container">
        <div class="row ">
            <div class="col-md-7 my-auto mx-auto mt-1">
                <div class="card mt-5 ">
                    <div class="row g-0">
                        <div class="col-lg-5" style="background-image: url(https://images.unsplash.com/photo-1534187886935-1e1236e856c3?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1535&q=80); background-size: cover;">
                            <!-- <img src="https://images.unsplash.com/photo-1571863533956-01c88e79957e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1267&q=80" alt="" class="" /> -->
                        </div>
                        <div class="col-lg-7">
                            <div class="card-body my-3">
                                <h5 class="card-title mb-4  fs-1 text-center">Log in</h5>
                                <form action="/login" method="POST" class="validated-form" novalidate>
                                    <div class="mb-4">
                                        <label class="form-label" for="username">Username</label>
                                        <input class="form-control" type="text" id="username" name="username" autofocus required>
                                        <div class="valid-feedback">
                                            Looks good!
                                        </div>
                                    </div>

                                    <div class="mb-4">
                                        <label class="form-label" for="password">Password</label>
                                        <input class="form-control" type="password" id="password" name="password" required>
                                        <div class="valid-feedback">
                                            Looks good!
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6 col-lg-12">
                                            <div class="d-lg-grid  mb-3">
                                                <button class="btn btn-success ">Login</button>
                                            </div>
                                </form>
                                </div>
                                <div class=" col-6 col-lg-12">
                                    <h6 class="text-center d-inline">Don't have an account? <a href="/register">Register</a> </h6>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>